body {
	margin: 0;
    background-image: url('../img/background3.png');
    -webkit-background-size: cover;   
    -moz-background-size: cover;   
    -o-background-size: cover;   
    background-size: cover;
    background-repeat: no-repeat;
}

.page-container {
	margin: 0 auto 0 auto;
}

/*Header*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #111;
}

/*Termibux*/
.title {
	text-align: center;
	color: white;
	font-size:7em;
	letter-spacing: 20px;
	font-family: 'Kaushan Script', cursive;
}

/*Subtitulo*/
.subtitle {
	text-align: center;
	color: white;
	font-size:2em;
	margin-top: 30px;
	font-family: 'Dancing Script', cursive;
}

/*Quita flecha de datalist*/
input::-webkit-calendar-picker-indicator {
	display: none;
}

/*Container donde se hará la busqueda de ingredientes*/
.search {
	position: relative;
	width: 100%;
	margin: 2% auto 0 auto;
	text-align: center;
  }

 /*Caja de buscar ingredientes*/
.datalist {
	width: 600px;
	height: 42px;
	margin-top: 25px;
	padding: 0 15px;
	background: #2d2d2d;
	background: rgba(51, 51, 51, 0.35);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3d3d3d;
	border: 1px solid rgba(255,255,255,.15);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}

/*Botones de la web*/
.button {
	width: 150px;
	height: 44px;
	cursor: pointer;
	margin-top: 25px;
	padding: 0;
	font-family: 'Dancing Script', cursive;
	background: #333333;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: none;
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}

/*Caja de donde se pondran los ingredientes y se podrán quitar una vez estén dentro*/
.listIngre {
	width:800px;
	height:150px;
	margin: 0 auto;
	margin-top: 25px;
	padding: 0 15px;
	background: #2d2d2d;
	background: rgba(51, 51, 51, 0.35);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3d3d3d;
	border: 1px solid rgba(255,255,255,.15);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}

/*Caja donde se ponen las receras encontradas*/
.listRecetas {
	width:90%;
	height:500px;
	margin: 0 auto;
	margin-top: 25px;
	padding: 0 15px;
	background: #2d2d2d;
	background: rgba(51, 51, 51, 0.35);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3d3d3d;
	border: 1px solid rgba(255,255,255,.15);
	-moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
}

/*Cada receta encontrada se mostrará en un div así*/
.receta {
	border-radius: 6px;
	margin: 0 auto;
	margin-top: 1%;
	width: 99%;
	height: 30%;
	background: black;
}

/*Imagen de cada receta encontrada*/
.imageReceta {
	margin-top: 2%;
	margin-left: 2%;
	width: 30%;
	height: 80%;
	float: left;
	border-radius: 6px;
	background: white;
}

/*Titulo de cada receta encontrada*/
	/*Preguntar com cuadrar*/
.tituloReceta {
	margin-top: 2%;
	margin-right: 20%;
	float: right;
	width: 30%;
	height: 20%;
	border-radius: 6px;
	background: green;
}

/*Puntuacion receta*/
.puntuacionReceta {}

/*Caja descripcion receta*/
.descripcionReceta {
	margin-top: 2%;
	margin-right: 20%;
	float: right;
	width: 30%;
	height: 20%;
	border-radius: 6px;
	background: red;
}